root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,toml,csproj,slnx}]
indent_size = 2

[*.{ts,tsx,js,jsx,css,html}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_prefer_braces = true:warning
csharp_indent_switch_labels = true
